/* remove all default styles added by browsers */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

section {
  padding: 3%;
}

.guide-heading {
  padding: 15px;
}

.resources-page > h2 {
  padding-top: 3%;
}

.resources-page {
  margin-top: 5%;
}
